spring:
  mvc:
    view:
      prefix: /WEB-INF/page/
      suffix: .jsp
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mall?characterEncoding=utf-8&serverTimezone=UTC&useSSL=false
    username: root
    password: yang
mybatis:
  configuration:
    auto-mapping-behavior: full
  mapper-locations: classpath:mapper/*.xml
#日志
logging:
  level:
    root: info
    com.kgc.mapper: debug
  config: classpath:lombok-spring.xml
server:
  port: 8081
