<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.mapper.ProductorderitemMapper">
<select id="getProductorderItemCount" resultType="int">
    SELECT COUNT(productorderitemNumber) FROM mall.productorderitem WHERE productorderitemProductId=#{productorId}
</select>
    <select id="getProductorderItemList" resultType="com.kgc.pojo.Productorderitem">
        select * from mall.productorderitem where productorderitemOrderId=#{productorderitemOrderId}
    </select>
    <select id="getByProductorItemUserId" resultType="com.kgc.pojo.Productorderitem">
       SELECT * FROM mall.productorderitem WHERE productorderitemOrderId IS NULL AND productorderitemUserId=#{userId}
    </select>
    <insert id="getProductorderitemInsert" parameterType="com.kgc.pojo.Productorderitem">
        INSERT INTO mall.productorderitem VALUES(NULL,#{productOrderItemNumber},#{productOrderItemPrice},#{productOrderItemProductId},NULL,#{productOrderItemUserId},null)
    </insert>
    <update id="updateProductorderItemUpdate" parameterType="int">
        update mall.productorderitem set productorderitemNumber=#{number}+productorderitemNumber
        where  productorderitemOrderId IS NULL AND productorderitemProductId=#{productId} and  productorderitemUserId=#{userId}
    </update>
    <delete id="removeProductorItem" parameterType="int">
        delete from mall.productorderitem where productorderitemId=#{productorderitemId}
    </delete>
    <select id="getByProductorderItem" resultType="com.kgc.pojo.Productorderitem">
        select * from mall.productorderitem where  productorderitemId=#{orderItemId}
    </select>
    <update id="getUpdateProductorderItem" parameterType="com.kgc.pojo.Productorderitem">
        update mall.productorderitem
        <set>
            <if test="productOrderItemNumber!=null and productOrderItemNumber!=''">
                productorderitemNumber=#{productOrderItemNumber},
            </if>
            <if test="productOrderItemPrice!=null and productOrderItemPrice!=''">
                productorderitemPrice=#{productOrderItemPrice},
            </if>
            <if test="productOrderItemProductId!=null and productOrderItemProductId!=''">
                productorderitemProductId=#{productOrderItemProductId},
            </if>
            <if test="productOrderItemOrderId!=null and productOrderItemOrderId!=''">
                productorderitemOrderId=#{productOrderItemOrderId},
            </if>
            <if test="productOrderItemUserMessage!=null and productOrderItemUserMessage!=''">
                productorderitemUserMessage=#{productOrderItemUserMessage},
            </if>
        </set>
        where productorderitemId=#{productOrderItemId}
    </update>
</mapper>
