<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.mapper.ProductMapper">
    <sql id="productSql">
        <where>
            <if test="productName!=null and productName!=''">
                and productName like concat('%',#{productName},'%')
            </if>
            <if test="firstPrice!=null and firstPrice!='' and lastPrice!=null and lastPrice!=''">
                and productPrice between #{firstPrice} and #{lastPrice}
            </if>
            <if test="productCategoryId!=-1">
                and productCategoryId=#{productCategoryId}
            </if>
            <if test="productIsEnabled!=null and productIsEnabled!=''">
                and productIsEnabled in
                <foreach collection="array" close=")" open="(" separator="," item="productIsEnabled">
                    #{productIsEnabled}
                </foreach>
            </if>
        </where>
    </sql>
<select id="getProductCount" resultType="int">
    SELECT COUNT(*) FROM product
    <include refid="productSql"></include>
</select>
    <select id="getProductLimit" resultType="com.kgc.pojo.Product">
        select * from product
        <include refid="productSql"></include>
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="getProductArray" resultType="com.kgc.pojo.Product">
        SELECT * FROM product WHERE productCategoryId=#{productCategoryId} AND productIsEnabled IN(0,2)
        ORDER BY productId DESC LIMIT 8
    </select>
    <select id="getLunPo" resultType="com.kgc.pojo.Product">
        SELECT * FROM product WHERE productIsEnabled=2 LIMIT 6
    </select>
</mapper>
