<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.mapper.ProductorderitemMapper">
<select id="getProductorderItemCount" resultType="int">
    SELECT COUNT(productorderitemNumber) FROM productorderitem WHERE productorderitemProductId=#{productorId}
</select>
    <select id="getProductorderItemList" resultType="com.kgc.pojo.Productorderitem">
        select * from productorderitem where productorderitemOrderId=#{productorderitemOrderId}
    </select>
    <select id="getByProductorItemUserId" resultType="com.kgc.pojo.Productorderitem">
       SELECT * FROM productorderitem WHERE productorderitemOrderId IS NULL AND productorderitemUserId=#{userId}
    </select>
    <insert id="getProductorderitemInsert" parameterType="com.kgc.pojo.Productorderitem">
        INSERT INTO productorderitem VALUES(NULL,#{productOrderItemNumber},#{productOrderItemPrice},#{productOrderItemProductId},NULL,#{productOrderItemUserId},null)
    </insert>
    <update id="updateProductorderItemUpdate" parameterType="int">
        update productorderitem set productorderitemNumber=#{number}+productorderitemNumber
        where  productorderitemOrderId IS NULL AND productorderitemProductId=#{productId} and  productorderitemUserId=#{userId}
    </update>
    <delete id="removeProductorItem" parameterType="int">
        delete from productorderitem where productorderitemId=#{productorderitemId}
    </delete>
    <select id="getByProductorderItem" resultType="com.kgc.pojo.Productorderitem">
        select * from productorderitem where  productorderitemId=#{orderItemId}
    </select>
</mapper>
