<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.mapper.ReviewMapper">
<select id="getReviewCount" resultType="int">
    SELECT COUNT(reviewId) FROM review WHERE reviewProductId=#{productId}
</select>
    <select id="getReviewByProductId" resultType="com.kgc.pojo.Review">
        select  * from review where reviewProductId=#{productid}
    </select>
</mapper>
