<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.mapper.UserMapper">
<!--    /*注册*/-->
<insert id="addUser" parameterType="com.kgc.pojo.User">
INSERT INTO mall.`user`(userName,userPassword,userNickName,userGender,userBirthday,userHomePlace,userAddress)
 VALUES(#{userName},#{userPassword},#{userNickName},#{userGender},#{userBirthday},#{userAddress},#{userAddress})
</insert>
 <!--   /*登录*/-->
    <select id="getUserLogin" resultType="com.kgc.pojo.User">
        select * from mall.`user` where userName=#{userName} and userPassword=#{userPassword}
    </select>
    <update id="getUserUpdate" parameterType="com.kgc.pojo.User">
        update mall.`user`
        <set>
            <if test="userNickName!=null and userNickName!=''">
                userNickName=#{userNickName},
            </if>
            <if test="userPassword!=null and userPassword!=''">
                userPassword=#{userPassword},
            </if>
            <if test="userRealName!=null and userRealName!=''">
                userRealname=#{userRealName},
            </if>
            <if test="userGender!=null and userGender!=''">
                userGender=#{userGender},
            </if>
            <if test="userBirthday!=null and userBirthday!=''">
                userBirthday=#{userBirthday},
            </if>
            <if test="userAddress!=null and userAddress!=''">
                userAddress=#{userAddress},
            </if>
        </set>
        where userId=#{userId}
    </update>
    <select id="getUserGetById" resultType="com.kgc.pojo.User">
        select * from mall.`user` where userId=#{userId}
    </select>
</mapper>
